* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 40rem;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5em 0 2.5em 1em;
    font-size: large;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    padding-top: 1em;
}

header {
    background: rgb(2, 2, 79);
    padding: 2rem 0 0 0;
    grid-column: 1 / 4;
    color: aliceblue;
    text-align: left;
}

header nav {
    margin: 0 auto 0;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-evenly;
    padding: 1em;
    background-color: rgb(2, 2, 44);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover {
    color: cyan;
}

main {
    grid-column: 1 / 2;
    background-color: rgb(228, 235, 248);
    color: rgb(2, 2, 44);
    padding: 1rem;
}

main img {
    float: right;
    width: 8em;
    padding: 0 0 0 40;
}

.aside {
    grid-column: 3 / 4;
    padding: 1rem;
    background-color: rgb(247, 245, 218);
}

footer {
    grid-column: 1 / 4;
    padding: 2rem 2rem 8rem 2rem;
    background: rgb(2, 2, 79);
    color: aliceblue;
    text-align: center;
}