body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(224, 224, 225);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

h1 {
    font-size: 1.7em;
    text-align: center;
}

label,
li {
    font-weight: 700;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
}

li button {
    margin-left: 0;
}